---
---

@import "minima";
@import "se-kor";

pre {
    padding: 6px 10px;
}

pre, code {
    font-size: 13px;
    line-height: 125%;
}

pre:not(.highlight) {
    background: none;
}

div.highlighter-rouge .highlight {
    margin-bottom: 5px;
}

table.dataframe{
    font-size: 12px;
    width: unset;

    th, td {
        padding: 5px;
    }
}
